.wrapper {
    margin: 0 auto;
    width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

nav a {
    padding-left: 50px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    border: 1px solid #CCCCCC;
    width: 200px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.photo {
    width: 100%;
}

.button {
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: coral;
}

.fullDesc {
    display: flex;
    flex-wrap: wrap;
}

.fullImg img {
    width: 50%;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: bisque;
    height: 100px;
}

form input {
    font-size: 30px;
}

form select {
    font-size: 30px;
}

.calcVue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.number {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 5px;
}

.number:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.operator {
    background-color: beige;
}

.operator:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arg1 {
    display: flex;
    flex-direction: column;
}

.arg {
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    border: 1px solid black;
    margin: 20px;
    font-size: 25px;
}

.operat {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: aquamarine;

}

.result {
    background-color: brown;
}

.reset {
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}